body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(images/background.jpg);
    font-family: sans-serif;
}

#track{
    position: relative;
    height: 552px;
    width: 80%;
    left: 35%;
    margin-left:-142px ;
    background-color: #292929;
    overflow: hidden;
}
#score_div {
    position: relative;
    width: 80%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;}

.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
.car{
    position: absolute;
    width: 40px;
    height: 60px;
  }
#car{
    bottom: 8%;
    left: 60%;

}

#car_1{
    top: -100px;
    left: 60%;

}
#car_2{

    top: -200px;
    left: 40%;

}
#car_3{
    top: -350px;
    left: 50%;

}
#start_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#start {
    border: none;
    padding: 25px;
    color: white;
    background-color: #8a64ff;
    font-size: 30px;
    margin-top: 30%;
}
.small_text{
    font-size: 15px;
}

#help{
	text-align: center;
}
